* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    flex-wrap: wrap;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #242424;
    padding: 10px;
    flex-wrap: wrap;
    padding: 20px;
}
.header h1, p {
    text-align: start;
    margin: 10px;
    color: white;
    justify-content: center;
}
nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 12px;
}
nav a {
    margin: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.sinks {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 100px;
    margin-top: 30px;
    margin-left: 80px;
    flex-wrap: wrap;
}
.image-containers {
    max-width: 80%;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: solid 1px rgb(0, 0, 0);
    margin-top: 10px;
    margin-left: 25px;
    padding: 10px;
}
.sinks img {
    max-width: 60%;
    height: 120%;
    margin-top: 20px;
}
.sinks p, h2{
    text-align: center;
    color: black;
}
#footer {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#888888;
    text-align: center;
    height: 30px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
#footer p {
    color: black;
}

@media (max-width: 500px) {
    .sinks {
        grid-template-columns: 1fr;
        margin-right: 70px;
    }

    nav ul a {
        margin: 5px;
        font-size: 10px;
    }
    nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid black;
    }
}
